@import "styles/mixins";

.pokemons {
    @include grid;

    grid-template-columns: repeat(1, 1fr);

    &.primary {
        gap: 40px;

        @include media-md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-lg {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.secondary {
        gap: 30px;

        @include media-md {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-lg {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}