@import "styles/mixins";

.inputSearch {
    width: 100%;
    font-size: 14px;
    padding: 16px;
    border: 1px  solid #000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right-width: 0;

    &Box {
        @include flex;
        @include relative(1);

        max-width: 300px;
        width: 100%;
        overflow: hidden;
    }

    &__icon {
        @include flex;
        @include justify-center;
        @include items-center;
        
        width: 40px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 1px  solid #000;
        border-left-width: 0;
        padding: 0 10px;

        > svg {
            width: 20px;
            height: 20px;
        }
    }
}